* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:beige;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-main {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-direction: column;
    background-color: #435861;
    border: solid 1px black;
    border-radius: 10px;
    padding: 15px;
    min-height: 600px;
    min-width: 400px;
}

.calculator-screen {
    background-color: #FBF6F9;
    border-radius: 7px;
    height: 130px;
    max-width: 100%;
}

.calculator-buttons {
    flex-basis: auto;
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1em;
    margin-top: 15px;
}

button {
    background-color:burlywood;
    border: solid 2px #FBF6F9;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    padding: 25px;
}

#clear {
    grid-column: 1 / 3;
} 

#delete {
    grid-column: 3 / 5;
}